
<a href="/horses/new">Create a Horse</a>

<div align="center">
  <h1>All Horses</h1>
  <% @horses.each do |horse| %>
  <h3><a href="horses/<%= horse.id %>"><%= horse.name %></a></h3>
   <p>Age: <%= horse.age %></p>
   <p>Total Winnings: <%= horse.total_winnings %></p>
  <% end %>
</div>
