

<div align="center">
  <h1>Create a New Horse</h1>
  <form class="" action="/horses" method="post">
    <label for="name">Name</label>
    <input type="text" name="horse[name]"></br>
    <label for="age">Age</label>
    <input type="text" name="horse[age]"></br>
    <label for="age">Total Winnings</label>
    <input type="text" name="horse[total_winnings]"></br>
    <input type="submit">
  </form>
